<src>
	<form name="participantForm">
		<div layout="row" layout-align="end center">
			<div ng-html="'edit_participant_warning'|trans"></div>
			<md-button class="md-raised md-primary" ng-click="save()" ng-disabled="participantForm.$invalid"><md-icon>save</md-icon> {{'save'|trans}}</md-button>
			<md-button class="md-raised" ng-click="cancel()"><md-icon>cancele</md-icon> {{'cancel'|trans}}</md-button>

		</div>
		<fieldset class="md-dense">
			<legend>{{'panel_client_properties'|trans}}</legend>
			<div layout="row" layout-align="start start">
				<md-input-container>
					<label>{{'panel_client_initials'|trans}}</label>
					<input ng-model="participant.initials" name="initials" md-placeholder="{{'panel_client_initials_placeholder'|trans}}" required type="text" maxlength="4">
					<div ng-messages="participantForm.initials.$error" multiple md-auto-hide="false">
						<div ng-message="required">{{'panel_client_initials_error_required'|trans}}</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>{{'panel_client_date_of_birth'|trans}}</label>
					<md-datepicker ng-model="dateOfBirth" name="dateOfBirth" md-placeholder="{{'panel_client_date_of_birth_placeholder'|trans}}" required md-current-view="year" ng-keydown="onDobInputKeyPressed($event);"></md-datepicker>
					<div ng-messages="participantForm.dateOfBirth.$error" multiple md-auto-hide="false">
						<div ng-message="required">{{'panel_client_date_of_birth_error_required'|trans}}</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>{{'panel_client_gender'|trans}}</label>
					<md-select ng-model="participant.gender" name="gender" required>
						<md-option value=""><em>{{'not_selected'|trans}}</em></md-option>
						<md-option ng-repeat="gender in genders" ng-value="gender">
							{{gender|trans}}
						</md-option>
					</md-select>
					<div ng-messages="participantForm.gender.$error" multiple md-auto-hide="false">
						<div ng-message="required">{{'panel_client_gender_error_required'|trans}}</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>{{'panel_client_country_of_residence'|trans}}</label>
					<md-select ng-model="participant.countryOfResidence" name="countryOfResidence" required>
						<md-option value=""><em>{{'not_selected'|trans}}</em></md-option>
						<md-option ng-repeat="country in countries" ng-value="country.name">
							{{country.name|trans}}
						</md-option>
					</md-select>
					<div ng-messages="participantForm.countryOfResidence.$error" multiple md-auto-hide="false">
						<div ng-message="required">{{'panel_client_country_of_residence_error_required'|trans}}</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>{{'panel_client_primary_language'|trans}}</label>
					<md-select ng-model="participant.languageCode" name="language" required>
						<md-option value=""><em>{{'not_selected'|trans}}</em></md-option>
						<md-option ng-repeat="language in languages" ng-value="language.code">
							[[language.label]]
						</md-option>
					</md-select>
					<div ng-messages="participantForm.language.$error" multiple md-auto-hide="false">
						<div ng-message="required">{{'panel_client_primary_language_error_required'|trans}}</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>{{'panel_client_email'|trans}}</label>
					<input ng-model="participant.email" name="email" md-placeholder="{{'panel_client_email_placeholder'|trans}}" type="email">
					<div ng-messages="participantForm.email.$error" multiple md-auto-hide="false">
						<div ng-message="email">{{'panel_client_email_error_invalid'|trans}}</div>
					</div>
				</md-input-container>
			</div>

			<div layout="row" layout-align="start start" class="checkbox-container">
				<md-input-container>
					<label>{{'panel_client_diagnoses'|trans}}</label>
					<md-select ng-model="participant.diagnoses" name="diagnoses" required>
						<md-option value=""><em>{{'not_selected'|trans}}</em></md-option>
						<md-option value="1">{{'yes'|trans}}</md-option>
						<md-option value="0">{{'no'|trans}}</md-option>
					</md-select>
					<div ng-messages="participantForm.diagnoses.$error" multiple md-auto-hide="false">
						<div ng-message="required">{{'panel_client_diagnoses_error_required'|trans}}</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>{{'panel_client_assessment_reason'|trans}}</label>
					<md-select ng-model="participant.assessmentReason" name="assessmentReason" required>
						<md-option value=""><em>{{'not_selected'|trans}}</em></md-option>
						<md-option ng-repeat="reason in assessmentReasons" ng-value="reason" ng-if="admin.researchGroup || reason !== assessmentReasonsResearchProject">{{reason|trans}}</md-option>
					</md-select>
					<div ng-messages="participantForm.assessmentReason.$error" multiple md-auto-hide="false">
						<div ng-message="required">{{'panel_client_assessment_reason_error_required'|trans}}</div>
					</div>
				</md-input-container>
				<md-input-container ng-if="participant.assessmentReason === 'Clinical assessment'">
					<label>{{'panel_client_clinical_assessment_referrer'|trans}}</label>
					<md-select ng-model="participant.clinicalAssessmentReferrer" name="clinicalAssessmentReferrer">
						<md-option value=""><em>{{'not_selected'|trans}}</em></md-option>
						<md-option ng-repeat="referrer in clinicalAssessmentReferrers" ng-value="referrer">{{referrer|trans}}</md-option>
					</md-select>
					<div ng-messages="participantForm.clinicalAssessmentReferrer.$error" multiple md-auto-hide="false">
						<div ng-message="required">{{'panel_client_clinical_assessment_referrer_error_required'|trans}}</div>
					</div>
				</md-input-container>
			</div>
			
			<div ng-if="isAdmin" layout="row" layout-align="start start" class="checkbox-container" >
				<md-input-container>
					<label>{{'panel_client_export_exclusion'|trans}}</label>
					<md-select ng-model="participant.exportExclusion" name="exportExclusion" required>
						<md-option value=""><em>{{'not_selected'|trans}}</em></md-option>
						<md-option value="1">{{'yes'|trans}}</md-option>
						<md-option value="0">{{'no'|trans}}</md-option>
					</md-select>
				</md-input-container>
			</div>

			<div layout="row" layout-align="start start">
				<md-switch ng-model="participant.autoDemographicsInvite" ng-if="!participant.valid" ng-true-value="1" ng-false-value="0">
					{{'panel_email_demographics'|trans}}
				</md-switch>
			</div>

			<div ng-if="participant.diagnoses == 1">
				<p>{{'panel_client_select_diagnoses'|trans}}</p>
				<div layout="row" layout-wrap>
					<div flex="25" ng-repeat="diagnose in diagnoses track by $index">
						<md-checkbox ng-checked="isMultiCheckSelected(diagnosesSelected, diagnose.label)" ng-click="toggleMultiCheck(diagnosesSelected, diagnose.label)">{{diagnose.label_trans|trans}}</md-checkbox>
					</div>
				</div>
			</div>
			<div ng-if="admin.researchGroup && participant.assessmentReason === assessmentReasonsResearchProject">
				<p>{{'panel_client_research_projects'|trans}}</p>
				<div layout="row" layout-wrap>
					<div flex="25" ng-repeat="option in researchProjects | filter:{researchGroup: admin.researchGroup} track by $index">
						<md-checkbox ng-checked="isMultiCheckSelected(researchProjectSelected, option.label)" ng-click="toggleMultiCheck(researchProjectSelected, option.label)">{{option.label_trans|trans}}</md-checkbox>
					</div>
				</div>
			</div>

		</fieldset>
	</form>
</src>
