<src>
	<div class="page" ng-controller="assessment" layout="column" layout-align="start stretch">
		<test-header></test-header>

		<form name="form" flex="noshrink">
			<md-content layout="column" layout-align="start stretch" layout-margin="" class="page-content">
				<div ng-repeat="item in items track by $index" ng-switch="item.type" class="item">
					<md-subheader class="md-primary stem" ng-html="item.stem_trans|trans" ng-if="item.stem_trans && ($index == 0 || items[$index-1].stem_trans != item.stem_trans)" style="align-self: flex-start;"></md-subheader>
					<item-options ng-switch-when="options" item="item"></item-options>
					<item-open ng-switch-when="open" item="item"></item-open>
					<item-range ng-switch-when="range" item="item"></item-range>
					<item-subtract ng-switch-when="subtract" item="item"></item-subtract>
				</div>
				<div layout layout-align="end center" class="sticky-buttons-container">
					<md-button class="md-raised" name="assessmentDate"><md-icon>date_range</md-icon> {{trans:test_change_assessment_date}}</md-button>
					<md-button class="md-raised" name="previous" ng-show="R.canGoBack && R.page &gt; 1"><md-icon>arrow_back</md-icon> {{trans:go_back}}</md-button>
					<md-button class="md-raised" name="save"><md-icon style="color: orange;">save</md-icon> {{trans:save}}</md-button>
					<md-button class="md-raised md-primary" name="next" ng-disabled="!isValid(form)"><md-icon style="color: green;">done</md-icon> {{trans:submit}}</md-button>
				</div>
			</md-content>
		</form>
		<test-footer></test-footer>
	</div>
</src>