<src>
	<div class="banner-container" ng-if="dictionary.banner_image">
		<img ng-src="[[dictionary.banner_image]]" />
	</div>

	<md-content class="layout-padding">
		<div layout="row" layout-align="space-between center" class="md-dense">
			<div layout="row" layout-align="start center" layout-wrap style="gap: 0.5em;">
				<md-input-container>
					<label>{{'search'|trans}}</label>
					<input ng-model="query.search" ng-change="getParticipants()" ng-model-options="{ debounce: 500 }">
				</md-input-container>
				<md-input-container style="margin-left: 0;">
					<label>{{'panel_archived_label'|trans}}</label>
					<md-select ng-model="query.archived" ng-change="getParticipants()">
						<md-option ng-value="''">{{'panel_archived_all'|trans}}</md-option>
						<md-option ng-value="1">{{'panel_archived_archived'|trans}}</md-option>
						<md-option ng-value="0">{{'panel_archived_nonarchived'|trans}}</md-option>
					</md-select>
				</md-input-container>
			</div>
			<div layout="row" layout-align="end center" layout-wrap>
				<md-button class="md-raised" ng-click="addSingle()"><md-icon>add</md-icon> {{'panel_clients_add'|trans}}</md-button>
				<md-button class="md-raised" ng-click="batchImport()"><md-icon>playlist_add</md-icon> {{'panel_clients_batch_import'|trans}}</md-button>
				<md-button class="md-raised" ng-click="getParticipants()"><md-icon>refresh</md-icon> {{'refresh'|trans}}</md-button>
				<md-button class="md-raised" ng-click="downloadSelected()" ng-show="selectedParticipants.length > 0"><md-icon>download</md-icon> {{'download_selected'|trans}}</md-button>
				<md-button class="md-raised" ng-click="toggleArchiveSelected()" ng-show="selectedParticipants.length > 0"><md-icon>archive</md-icon> {{'archive_selected'|trans}}</md-button>
				<md-button class="md-raised md-warn" ng-click="deleteSelected()" ng-show="selectedParticipants.length > 0"><md-icon>delete</md-icon> {{'delete_selected'|trans}}</md-button>
			</div>
		</div>

		<div ng-if="participantsCollection.length > 0">
			<md-table-container>
				<table md-table md-row-select multiple ng-model="selectedParticipants">
					<thead md-head md-order="query.order">
						<tr md-row>
							<th md-column md-order-by="customId">{{'id'|trans}}</th>
							<th md-column md-order-by="initials">{{'panel_client_initials'|trans}}</th>
							<th md-column md-order-by="dateOfBirth">{{'panel_client_date_of_birth'|trans}}</th>
							<th md-column md-order-by="gender">{{'panel_client_gender'|trans}}</th>
							<th md-column md-order-by="lastAssessmentDate">{{'panel_client_last_assessment'|trans}}</th>
							<th md-column md-order-by="adminLogin" ng-if="isAdmin()">{{'panel_client_administrator'|trans}}</th>
							<th md-column></th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row md-select="participant" md-select-id="id" ng-repeat="participant in participantsCollection | orderBy: query.order" ng-class="{'archived': participant.archived == 1}">
							<td md-cell>
								<span ng-if="!participant.valid">
									<md-icon>warning</md-icon> 
									<md-tooltip>{{'panel_client_complete_demographic'|trans}}</md-tooltip>
								</span>
								[[participant.customId]]
							</td>
							<td md-cell>[[participant.initials]]</td>
							<td md-cell>[[participant.dateOfBirth]]</td>
							<td md-cell>[[participant.gender]]</td>
							<td md-cell>[[participant.lastAssessmentDate]]</td>
							<td md-cell ng-if="isAdmin()">[[participant.adminLogin]]</td>
							<td md-cell class="actions-cell" layout="row" layout-align="end center" layout-wrap>
								<md-button ng-click="goToSessions(participant)" ng-disabled="!participant.valid"><md-icon>schedule</md-icon> {{'panel_client_tests'|trans}}</md-button>
								<md-button ng-click="goToScores(participant)" ng-disabled="!participant.valid"><md-icon>insert_chart</md-icon> {{'panel_client_results'|trans}}</md-button>
								<md-button ng-click="edit(participant)"><md-icon>edit</md-icon> {{'edit'|trans}}</md-button>

								<md-menu>
									<md-button class="md-icon-button" ng-click="$mdMenu.open($event)" ng-disabled="!participant.valid">
										<md-icon md-menu-origin>more_vert</md-icon>
									</md-button>
									<md-menu-content>
										<md-menu-item>
											<md-button ng-click="startDemographics(participant)"><md-icon>person</md-icon><span md-menu-align-target>{{'panel_start_demographics'|trans}}</span></md-button>
										</md-menu-item>
										<md-menu-item>
											<md-button ng-click="emailDemographics(participant)"><md-icon>email</md-icon><span md-menu-align-target>{{'panel_email_demographics'|trans}}</span></md-button>
										</md-menu-item>
									</md-menu-content>
								</md-menu>
							</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
			<md-table-pagination md-limit="query.limit" md-limit-options="[50, 100, 250, 500, 1000, 5000, 10000]" md-page="query.page" md-total="[[participantsTotalCount]]" md-on-paginate="getParticipants" md-page-select md-label="paginationLabels"></md-table-pagination>
		</div>

		<msg type="warning" ng-if="participantsCollection.length === 0 && ongoingFetchesNum === 0">{{'panel_client_none_available'|trans}}</msg>
	</md-content>
</src>
