.page {
  height: 100%;
}

.page-content {
  max-width: 1000px;
  margin: auto;
  padding: 8px;
  width: 100%;
}

.stem {
  margin: 1em 0;
  font-size: 1em;
}

.item {
  margin: 16px 0;
}

test-footer {
}

.progress-container {
  height: 5px; 
  min-height: 5px;
  position: sticky; 
  top: 0;
  z-index: 1;
}