<style>
	md-checkbox[aria-label="Select All"] {
		display: none !important;
	}
</style>
<src>
	<div class="banner-container" ng-if="dictionary.banner_image">
		<img ng-src="[[dictionary.banner_image]]" />
	</div>

	<md-content class="layout-padding">
		<div layout="row" layout-align="space-between center" class="md-dense">
    		<!-- the clear filters and archive filter control -->
			<div layout="row" layout-align="start center" layout-wrap style="gap: 0.5em;">
				<!-- clear all filters excepts archived-->
				<md-button class="md-raised" ng-click="clearFilters()">
					{{'clear_filters'|trans}}</md-button>
				<div class="select-button-group">
					<!-- the archived toggle -->
					<md-button ng-repeat="option in archivedOptions" ng-click="changeArchiveFilter(option)"
						ng-class="{ selected: selectedArchivedValue === option }">
						{{ option.label }}
					</md-button>
				</div>
			</div>
			<!-- the add client, batch import and batch action buttons -->
			<div layout="row" layout-align="end center" layout-wrap>
				<md-button class="md-raised" ng-click="addSingle()"><md-icon>add</md-icon>
					{{'panel_clients_add'|trans}}</md-button>
				<md-button class="md-raised" ng-click="batchImport()"><md-icon>playlist_add</md-icon>
					{{'panel_clients_batch_import'|trans}}</md-button>
				<md-button class="md-raised" ng-click="downloadDialog()"
					ng-show="selectedParticipants.length > 0"><md-icon>download</md-icon>
					{{'download_selected'|trans}}</md-button>
				<md-button class="md-raised" ng-click="toggleArchiveSelected()"
					ng-show="selectedParticipants.length > 0"><md-icon>archive</md-icon>
					{{'archive_selected'|trans}}</md-button>
				<md-button class="md-raised md-warn" ng-click="deleteSelected()"
					ng-show="selectedParticipants.length > 0"><md-icon>delete</md-icon>
					{{'delete_selected'|trans}}</md-button>
			</div>
		</div>
		<!-- the search bar -->
    	<div layout="row" layout-align="space-between center" class="md-dense searchbar-row">
    	<md-input-container class="searchbar-container">
			<input ng-model="query.searchString" name="search" placeholder="{{'search'|trans}}" aria-label="Search" type="text"><md-icon>search</md-icon>
		</md-input-container>
		</div>
		
		<!-- the collapsible filter panel -->
		<div class="filter-panel">
			<!-- filter panel header with caret to toggle  -->
			<div layout="row" layout-align="start center" ng-click="toggleFilterDrawer()" class="filter-panel-header">
				<div layout="row" layout-align="start center">
					<span class="md-title">Filters</span>
					<md-icon ng-class="{'rotate-icon': isOpen}">
						keyboard_arrow_down
					</md-icon>
				</div>
			</div>
			<!-- filter panel is open, show filters -->
			<div ng-if="isOpen" class="filter-panel-content">
				<div class="filter-index" layout="row" layout-wrap>
					<a ng-repeat="filter in filterList" ng-click="filterUi.activeFilter = filter.key"
						ng-class="{active: filterUi.activeFilter === filter.key}" class="filter-link">
						<span class="filter-dot" ng-class="{selected: hasFilterValue(filter.key)}">
						</span>
						{{filter.label | trans}}
					</a>
				</div>

				<md-card class="filter-editor-card" ng-if="filterUi.activeFilter">
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">
								{{getFilterLabel(filterUi.activeFilter) | trans }}
							</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content>
						<div ng-switch="filterUi.activeFilter">

							<div ng-switch-when="admin">
								<!-- your admin filter control -->
								<md-input-container md-no-float="">
									<input ng-model="filters.admin.value" ng-model-options="{ debounce: 500 }"
										placeholder="Enter value">
								</md-input-container>
							</div>

							<!-- <div ng-switch-when="archived">
								<md-select multiple ng-model="filters.archived.value" placeholder="Select value">
									<md-option ng-value="1">{{'panel_archived_archived'|trans}}</md-option>
									<md-option ng-value="0">{{'panel_archived_nonarchived'|trans}}</md-option>
								</md-select>
							</div> -->
							<div ng-switch-when="assessmentReason">
								<!-- your gender filter control -->
								<md-input-container>
									<md-select multiple ng-model="filters.assessmentReason.value"
										placeholder="Select value" class="md-ellipsis" style="max-width: 300px;">
										<md-option ng-value="reason"
											ng-repeat="reason in assessmentReasons">{{reason|trans}}</md-option>
									</md-select>
								</md-input-container>
							</div>
							<div ng-switch-when="clinicalAssessmentReferrer">
								<md-input-container>
									<md-select multiple ng-model="filters.clinicalAssessmentReferrer.value"
										placeholder="Select value" class="md-ellipsis" style="max-width: 300px;">
										<md-option ng-value="referrer"
											ng-repeat="referrer in clinicalAssessmentReferrers">{{referrer|trans}}</md-option>
									</md-select>
								</md-input-container>
							</div>
							<div ng-switch-when="countryOfResidence">
								<md-input-container>
									<md-select multiple ng-model="filters.countryOfResidence.value"
										placeholder="Select value" class="md-ellipsis" style="max-width: 300px;">
										<md-option ng-value="country.name"
											ng-repeat="country in countries">{{country.name|trans}}</md-option>
									</md-select>
								</md-input-container>
							</div>
							<div ng-switch-when="customId">
								<md-input-container md-no-float="">
									<input ng-model="filters.customId.value" ng-model-options="{ debounce: 500 }"
										placeholder="Enter value">
								</md-input-container>
							</div>
							<div ng-switch-when="dateOfBirth">
								<md-input-container>
									<md-select style="margin-bottom: 22px;" ng-model="filters.dateOfBirth.operator"
										aria-label="dateOfBirthOperator">
										<md-option ng-value="'equal'">{{'op_equal'|trans}}</md-option>
										<md-option ng-value="'lesser'">{{'op_lesser'|trans}}</md-option>
										<md-option ng-value="'lesserOrEqual'">{{'op_lesser_or_equal'|trans}}</md-option>
										<md-option ng-value="'greater'">{{'op_greater'|trans}}</md-option>
										<md-option
											ng-value="'greaterOrEqual'">{{'op_greater_or_equal'|trans}}</md-option>
										<md-option ng-value="'between'">{{'op_between'|trans}}</md-option>
									</md-select>
								</md-input-container>

								<md-input-container md-no-float="">
									<md-datepicker aria-label="dateOfBirth" md-current-view="year"
										ng-model="filters.dateOfBirth.value1"
										ng-model-options="{timezone: 'UTC'}"></md-datepicker>
								</md-input-container>
								<md-input-container md-no-float="" ng-if="filters.dateOfBirth.operator === 'between'">
									<md-datepicker aria-label="dateOfBirth" md-current-view="year"
										ng-model="filters.dateOfBirth.value2"
										ng-model-options="{timezone: 'UTC'}"></md-datepicker>
								</md-input-container>
							</div>
							<div ng-switch-when="diagnosis">
								<span class="md-headline">
									{{'panel_client_diagnoses' | trans }}
								</span>
								<md-input-container>
									<md-select multiple ng-model="filters.diagnoses.value" placeholder="Select value">
										<md-option value="1">{{'yes'|trans}}</md-option>
										<md-option value="0">{{'no'|trans}}</md-option>
									</md-select>
								</md-input-container>
								<div ng-if="filters.diagnoses.value.includes('1')">
									<span class="md-headline">
										{{'panel_client_select_diagnoses' | trans }}
									</span>
									<md-input-container>
										<md-select multiple ng-model="filters.diagnosesSelected.value"
											placeholder="Select value" class="md-ellipsis" style="max-width: 300px;">
											<md-option ng-value="diagnose.label"
												ng-repeat="diagnose in diagnoses">[[diagnose.label]]</md-option>
										</md-select>
									</md-input-container>
								</div>

							</div>
							<div ng-switch-when="email">
								<md-input-container md-no-float="">
									<input ng-model="filters.email.value" ng-model-options="{ debounce: 500 }"
										placeholder="Enter value">
								</md-input-container>
							</div>
							<div ng-switch-when="exportExclusion">
								<md-input-container>
									<md-select multiple ng-model="filters.exportExclusion.value"
										placeholder="Select value">
										<md-option ng-value="1">Yes</md-option>
										<md-option ng-value="0">No</md-option>
									</md-select>
								</md-input-container>
							</div>

							<div ng-switch-when="gender">
								<!-- your gender filter control -->
								<md-input-container>
									<md-select multiple ng-model="filters.gender.value" placeholder="Select value"
										class="md-ellipsis" style="max-width: 300px;">
										<md-option ng-value="gender"
											ng-repeat="gender in genders">[[gender]]</md-option>
									</md-select>
								</md-input-container>
							</div>
							<div ng-switch-when="id">
								<md-input-container md-no-float="">
									<input ng-model="filters.id.value" ng-model-options="{ debounce: 500 }"
										placeholder="Enter value">
								</md-input-container>
							</div>
							<div ng-switch-when="initials">
								<md-input-container md-no-float="">
									<input ng-model="filters.initials.value" ng-model-options="{ debounce: 500 }"
										placeholder="Enter value">
								</md-input-container>
							</div>
							<div ng-switch-when="lastAssessment">
								<md-input-container>
									<md-select style="margin-bottom: 22px;" aria-label="lastAssessment"
										ng-model="filters.lastAssessment.operator">
										<md-option ng-value="'equal'">{{'op_equal'|trans}}</md-option>
										<md-option ng-value="'lesser'">{{'op_lesser'|trans}}</md-option>
										<md-option ng-value="'lesserOrEqual'">{{'op_lesser_or_equal'|trans}}</md-option>
										<md-option ng-value="'greater'">{{'op_greater'|trans}}</md-option>
										<md-option
											ng-value="'greaterOrEqual'">{{'op_greater_or_equal'|trans}}</md-option>
										<md-option ng-value="'between'">{{'op_between'|trans}}</md-option>
									</md-select>
								</md-input-container>

								<md-input-container md-no-float="">
									<md-datepicker aria-label="lastAssessment" md-current-view="year"
										ng-model="filters.lastAssessment.value1"
										ng-model-options="{timezone: 'UTC'}"></md-datepicker>
								</md-input-container>
								<md-input-container aria-label="lastAssessment" md-no-float=""
									ng-if="filters.lastAssessment.operator === 'between'">
									<md-datepicker md-current-view="year" ng-model="filters.lastAssessment.value2"
										ng-model-options="{timezone: 'UTC'}"></md-datepicker>
								</md-input-container>
							</div>
							<div ng-switch-when="primaryLanguage">
								<md-input-container>
									<md-select multiple ng-model="filters.primaryLanguage.value"
										placeholder="Select value" class="md-ellipsis" style="max-width: 300px;">
										<md-option ng-value="language.code"
											ng-repeat="language in languages">[[language.label]]</md-option>
									</md-select>
								</md-input-container>
							</div>
							<div ng-switch-when="researchProjectSelected">
								<md-input-container>
									<md-select multiple ng-model="filters.researchProjectSelected.value"
										placeholder="Select value" class="md-ellipsis" style="max-width: 300px;">
										<md-option ng-value="researchProject.label"
											ng-repeat="researchProject in researchProjects">[[researchProject.label_trans]]</md-option>
									</md-select>
								</md-input-container>
							</div>

						</div>
					</md-card-content>
				</md-card>

			</div>
			<!-- filter panel is closed, show chips -->
			<div ng-if="!isOpen" class="filter-panel-content">
				<div class="filter-panel-chips">
					<md-chips ng-model="activeFilters" readonly="true">
						<md-chip-template>
							{{$chip.key | trans}} ({{$chip.count}})
						</md-chip-template>
					</md-chips>

				</div>
			</div>
		</div>

		<!-- the table -->
		<div ng-if="participantsCollection.length > 0">
			<div>
				<md-button ng-click="selectAllMatchingParticipants()">
					Select all [[participantsTotalCount]]
				</md-button>

				<md-button ng-click="clearParticipantSelection()">
					Clear All
				</md-button>
			</div>
			<md-table-container>
				<table md-table md-row-select multiple ng-model="selectedParticipants">
					<thead md-head md-order="query.order" md-on-reorder="onReorder">
						<tr md-row>
							<th md-column md-order-by="id">{{'id'|trans}}</th>
							<th md-column md-order-by="initials">{{'panel_client_initials'|trans}}</th>
							<th md-column md-order-by="dateOfBirth">{{'panel_client_date_of_birth'|trans}}</th>
							<th md-column md-order-by="gender">{{'panel_client_gender'|trans}}</th>
							<th md-column>{{'panel_client_last_assessment'|trans}}</th>
							<th md-column ng-if="isAdmin()">
								{{'panel_client_administrator'|trans}}</th>
							<th md-column ng-if="isAdmin()">
								{{'panel_client_export_exclusion'|trans}}</th>
							<th md-column></th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row md-select="participant" md-select-id="id" md-on-select="onParticipantSelect"
							ng-repeat="participant in participantsCollection"
							ng-class="{'archived': participant.archived == 1}">
							<td md-cell>
								<span ng-if="!participant.valid">
									<md-icon>warning</md-icon>
									<md-tooltip>{{'panel_client_complete_demographic'|trans}}</md-tooltip>
								</span>
								[[participant.id]]
							</td>
							<td md-cell>[[participant.initials]]</td>
							<td md-cell>[[participant.dateOfBirth]]</td>
							<td md-cell>[[participant.gender]]</td>
							<td md-cell>[[participant.lastAssessmentDate]]</td>
							<td md-cell ng-if="isAdmin()">[[participant.adminLogin]]</td>
							<td md-cell ng-if="isAdmin()"><md-checkbox ng-model="participant.exportExclusion"
									ng-true-value="1" ng-false-value="0" disabled
									aria-label="exportExclusion"></md-checkbox></td>
							<td md-cell class="actions-cell" layout="row" layout-align="end center" layout-wrap>
								<md-button ng-click="goToSessions(participant)"
									ng-disabled="!participant.valid"><md-icon>schedule</md-icon>
									{{'panel_client_tests'|trans}}</md-button>
								<md-button ng-click="goToScores(participant)"
									ng-disabled="!participant.valid"><md-icon>insert_chart</md-icon>
									{{'panel_client_results'|trans}}</md-button>
								<md-button ng-click="edit(participant)"><md-icon>edit</md-icon>
									{{'edit'|trans}}</md-button>

								<md-menu>
									<md-button class="md-icon-button" ng-click="$mdMenu.open($event)"
										ng-disabled="!participant.valid">
										<md-icon md-menu-origin>more_vert</md-icon>
									</md-button>
									<md-menu-content>
										<md-menu-item>
											<md-button
												ng-click="startDemographics(participant)"><md-icon>person</md-icon><span
													md-menu-align-target>{{'panel_start_demographics'|trans}}</span></md-button>
										</md-menu-item>
										<md-menu-item>
											<md-button
												ng-click="emailDemographics(participant)"><md-icon>email</md-icon><span
													md-menu-align-target>{{'panel_email_demographics'|trans}}</span></md-button>
										</md-menu-item>
										</md-menu-c ontent>
								</md-menu>
							</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
			<md-table-pagination md-limit="query.limit" md-limit-options="[50, 100, 250]" md-page="query.page"
				md-total="[[participantsTotalCount]]" md-on-paginate="onPaginate" md-page-select
				md-label="paginationLabels"></md-table-pagination>
		</div>

		<msg type="warning" ng-if="participantsCollection.length === 0 && ongoingFetchesNum === 0">
			{{'panel_client_none_available'|trans}}</msg>
	</md-content>
</src>
