<src>
	<md-dialog style="width: 500px;">
		<form ng-cloak="" name="sessionForm">
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h2>[['test_discontinue_header'|trans]]</h2>
				</div>
			</md-toolbar>
			<md-dialog-content>
				<div class="md-dialog-content">
					<md-input-container style="width: 100%;">
						<label>[['test_discontinue_reason'|trans]]</label>
						<md-select ng-model="skipReason">
							<md-option ng-repeat="skipReason in skipReasons"
								ng-value="skipReason">[[skipReason|trans]]</md-option>
						</md-select>
					</md-input-container>
				</div>
			</md-dialog-content>
			<md-dialog-actions layout="row" layout-align="end">
				<md-button ng-click="cancel()"> [['cancel'|trans]] </md-button>
				<md-button ng-click="discontinue()" ng-disabled="skipReason === ''"> [['discontinue'|trans]] </md-button>
			</md-dialog-actions>
		</form>
	</md-dialog>
</src>
