.page {
  height: 100%;
}

.page-content {
  max-width: 1000px;
  margin: auto;
  padding: 8px;
  width: 100%;
    overflow-y: auto;
  position: relative;
}

.stim-card {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.stem {
  margin: 1em 0;
  font-size: 1em;
}

.item {
  margin: 16px 0;
}

test-footer {
}

.stim-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.progress-container {
  height: 5px; 
  min-height: 5px;
  position: sticky; 
  top: 0;
  z-index: 1;
}

.skip-reason {
  width: 300px;
  min-width: 300px;
  flex-shrink: 0;
  margin: 0px 12px 0 0;
  transform: translateY(-4px);
}

.skip-reason md-select {
  width: 100%;
}
