<src>
  <div
    layout="column"
    layout-align="center stretch"
    class="item-options"
    md-colors="{borderColor:'default-primary'}"
    tabindex="0"
    ng-focus="onFocus()"
    ng-blur="onBlur()"
  >
    <div ng-repeat="option in options">{{option.label | trans}}</div>
    <div layout="column">
      <md-checkbox
        ng-repeat="criterion in option.criteria"
        ng-model="criterion.selected"
        ng-change="updateValue()"
      >
        {{ criterion.label }}
      </md-checkbox>
    </div>
  </div>
</src>
